### Imports

In [13]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
%matplotlib inline
%matplotlib widget

### Dataframe

In [21]:
dataframe = pd.read_csv("IntelData.csv")
newDF = dataframe.copy(deep=True)
newDF.drop(['Distribution Center','Product Offering','Generation','ASP Group','Week','Customer Orders'], axis = 1, inplace = True)
newDF = newDF.set_index([newDF.groupby('SKU')['SKU'].cumcount(), 'SKU'])['Forecasted Demand'].unstack()
newDF.index.rename('Index', inplace=True)
newDF.describe()

SKU,SKU-A-2,SKU-A-3,SKU-A-4,SKU-A-5,SKU-B-1,SKU-B-2,SKU-B-3,SKU-B-4,SKU-B-5,SKU-C-1,...,SKU-T-5,SKU-U-3,SKU-U-4,SKU-U-5,SKU-V-4,SKU-V-5,SKU-W-4,SKU-W-5,SKU-X-5,SKU-Y-5
count,391.000000,458.000000,529.000000,111.000000,24.000000,459.000000,575.000000,477.000000,92.000000,149.000000,...,73.000000,502.000000,428.000000,76.000000,344.000000,75.000000,384.000000,72.000000,66.000000,25.000000
mean,14105.066496,14246.508734,29674.593573,7215.810811,631.500000,77582.193900,48077.554783,40292.324948,11307.445652,28373.530201,...,3961.904110,54497.041833,23537.614486,11510.263158,13961.200581,3898.680000,34277.348958,17143.694444,8057.545455,71396.120000
std,16927.734554,19361.977484,32116.936893,7145.839497,435.972676,122212.696485,78913.818321,40968.740004,10207.599529,45124.768894,...,6195.920006,114802.001472,35076.773485,17930.683345,15593.205265,4352.785021,58679.037214,33110.322947,11593.708956,43918.993277
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1752.000000,1580.000000,4777.000000,1687.500000,378.000000,6847.500000,2404.500000,10430.000000,3503.000000,2389.000000,...,398.000000,1115.000000,1624.000000,931.250000,4236.000000,486.000000,1409.250000,0.000000,247.000000,40605.000000
50%,8455.000000,8296.000000,18599.000000,4777.000000,597.000000,25510.000000,19363.000000,33121.000000,8089.000000,7070.000000,...,1688.000000,5342.000000,10143.000000,2340.500000,8391.500000,2834.000000,6019.000000,1457.000000,2500.000000,87580.000000
75%,21576.500000,16966.250000,43949.000000,10892.000000,796.000000,87961.500000,58113.000000,51146.000000,17325.000000,25032.000000,...,3726.000000,23885.000000,21098.750000,18427.750000,20075.750000,5605.000000,20601.250000,6894.750000,9490.250000,95541.000000
max,137341.000000,180812.000000,177197.000000,25939.000000,1672.000000,621306.000000,550525.000000,273694.000000,42994.000000,179236.000000,...,29618.000000,596433.000000,259554.000000,71975.000000,91242.000000,14331.000000,259076.000000,158997.000000,40748.000000,138535.000000

In [20]:
# newDF.info()

import io
buffer = io.StringIO()
newDF.info(buf=buffer)
lines = buffer.getvalue().splitlines()
df = (pd.DataFrame([x.split() for x in lines[5:-2]], columns=lines[3].split())
       .drop('Count',axis=1)
       .rename(columns={'Non-Null':'Non-Null Count'}))

df.rename(columns = {'Column':'SKU'}, inplace = True)

print (df)

     #   Column Non-Null Count    Dtype
0    0  SKU-A-2            391  float64
1    1  SKU-A-3            458  float64
2    2  SKU-A-4            529  float64
3    3  SKU-A-5            111  float64
4    4  SKU-B-1             24  float64
..  ..      ...            ...      ...
81  81  SKU-V-5             75  float64
82  82  SKU-W-4            384  float64
83  83  SKU-W-5             72  float64
84  84  SKU-X-5             66  float64
85  85  SKU-Y-5             25  float64

[86 rows x 4 columns]

In [8]:
df.rename(columns = {'Column':'SKU'}, inplace = True)

In [9]:
decreasingMu = pd.merge(plotMe, df, on='SKU')

NameError: name 'plotMe' is not defined

In [ ]:
decreasingMu.sort_values(by='Non', axis=1, ascending=False)

In [10]:
varDF = newDF.var()
varDF = varDF.to_frame("Variance")
varDF = varDF.reset_index()
varDF

        SKU      Variance
0   SKU-A-2  2.865482e+08
1   SKU-A-3  3.748862e+08
2   SKU-A-4  1.031498e+09
3   SKU-A-5  5.106302e+07
4   SKU-B-1  1.900722e+05
..      ...           ...
81  SKU-V-5  1.894674e+07
82  SKU-W-4  3.443229e+09
83  SKU-W-5  1.096293e+09
84  SKU-X-5  1.344141e+08
85  SKU-Y-5  1.928878e+09

[86 rows x 2 columns]

In [11]:
mainDF = pd.merge(decreasingMu, varDF, on='SKU')

NameError: name 'decreasingMu' is not defined

In [12]:
mainDF.drop("Dtype", axis=1,inplace=True)
mainDF

NameError: name 'mainDF' is not defined

In [ ]:
mainDF = mainDF.sort_values(by = ['Variance'],ascending=False)
mainDF

In [ ]:
vList = list(mainDF['Variance'])
vList == sorted(vList,reverse=True)

In [ ]:
plt.close('all')
plt.plot(mainDF['Non-Null Count'])
plt.show()

In [ ]:
plt.close('all')
num = "Distribution of SKUs"
if plt.fignum_exists(num):plt.close(num)
fig,ax=plt.subplots(num=num, nrows=2)

idx = np.linspace(0,len(mainDF),len(mainDF))

ax[0].plot(idx,mainDF['mean'], color="C0", lw=2,)
ax[0].fill_between(idx,mainDF['mu-sigma'],mainDF['mu+sigma'],color="C0",alpha=.3)

ax[1].plot(idx,mainDF['Non-Null Count'].values, color="C0",lw=.5)

# ax[0].set(xlabel="SKUs", ylabel="Customer Orders $CO$ $\\times 10^3$")
# ax.legend()

In [ ]:
plotMe = newDF.describe().loc[['mean','std','variance']]

In [ ]:
plotMe.sort_values(by='var', axis=1, ascending=False)

In [ ]:
plotMe = plotMe.transpose()
plotMe

In [ ]:
plotMe['mu-sigma'] = plotMe['mean'] - plotMe['std']
plotMe['mu+sigma'] = plotMe['mean'] + plotMe['std']

In [ ]:
sigmaColumn = plotMe['std']
plotMe.drop('std',axis=1,inplace=True)
plotMe

In [ ]:
plotMe = plotMe.sort_values(by='mean', axis=0, ascending=False)

In [ ]:
plotMe = plotMe[["mu-sigma", "mean", "mu+sigma"]]

In [ ]:
plotMe

In [ ]:
plt.rcParams['font.size'] = 14

In [ ]:
plotMe

In [ ]:
num = "Distribution of SKUs"
if plt.fignum_exists(num):plt.close(num)
fig,ax=plt.subplots(num=num)

idx = np.linspace(0,86,86)

ax.plot(idx,plotMe['mean']/1e3, color="C0", lw=2,label="$\mu$")
ax.fill_between(idx,plotMe['mu-sigma']/1e3,plotMe['mu+sigma']/1e3,color="C0",alpha=.3, label="$\mu \pm 1\sigma$")

ax.set(xlabel="SKUs", ylabel="Customer Orders $CO$ $\\times 10^3$")
ax.legend()

#https://stackoverflow.com/questions/50802556/how-to-plot-a-vertical-area-plot-with-pandas

#https://stackoverflow.com/questions/44982574/how-to-plot-vertical-scatter-using-only-matplotlib

In [ ]:
plt.close()
newDF.boxplot(column=['SKU-A-2', 'SKU-B-3', 'SKU-W-4','SKU-T-5']) #Picked arbitrary 4 columns.

In [ ]:
## Box plot providing intuition about difference in variances.

In [ ]:
def funcToList(inputList):
    return [x for x in inputList if x == x]

In [ ]:
skuA2 = funcToList(list(newDF['SKU-A-2']))
skuB3 = funcToList(list(newDF['SKU-B-3']))
skuW4 = funcToList(list(newDF['SKU-W-4']))
skuT5 = funcToList(list(newDF['SKU-T-5']))

In [ ]:
theList = []
theList.append(skuA2)
theList.append(skuB3)
theList.append(skuW4)
theList.append(skuT5)

In [ ]:
from scipy.stats import bartlett
stat, p = bartlett(*theList)

In [ ]:
stat

In [ ]:
p

In [ ]:
# p value less than 0.05 indicating UNEQUAL variances.

In [ ]:
import numpy as np
from mpl_toolkits import mplot3d
import matplotlib.pyplot as plt

In [ ]:
dataframe

In [ ]:
poC = dataframe.loc[dataframe['Product Offering'] == "C"]

In [ ]:
poC

In [ ]:
poC = poC.drop(['Distribution Center','Product Offering','Generation','SKU','ASP Group','Week'],axis=1)

In [ ]:
poC

In [ ]:
poC['FA'] = poC['Forecasted Demand']/(poC['Forecasted Demand'] + poC['Customer Orders'])

In [ ]:
poC

In [ ]:
fig = plt.figure(figsize = (8,8))
ax = plt.axes(projection='3d')
ax.grid()

x = np.linspace(min(poC['Forecasted Demand']),max(poC['Forecasted Demand']),100)
y = np.linspace(min(poC['FA']),max(poC['FA']),1873)
z = np.linspace(min(poC['FA']),max(poC['FA']),1873)




x = poC['Forecasted Demand']
y = poC['FA']
z = np.linspace(0,1,1873)



ax.plot3D(x, y, z)
ax.set_xlabel('Forecasted Demand', labelpad=20)
ax.set_ylabel('Error', labelpad=20)
ax.set_zlabel('Density', labelpad=20)

In [ ]:
plt.close('all')
plt.hist(poC['FA'], density = False, bins= 20, edgecolor="black")
plt.show()